$interview-club-pink: #EB67A3;

.interviewClubBtn {
    background-color: $interview-club-pink !important;
}

.badge {
    background-color: #2E3B55 !important;
}

.actionBtn {
    .fa {
        margin-right: 10px;
    }
}

.select-text {
    color: black !important;
}